main h1 {
    margin-bottom: 2rem;
    text-align: center;
}

form {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    width: 100%;
}

.index-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}